# Compiled output
www/
build/

# Dependency directories
node_modules/
platforms/
plugins/
android/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Cordova specific files
.cordova/

# Miscellaneous
.DS_Store
Thumbs.db